<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <title>Locação Ariquemes</title>
</head>
<body>
  <main class="container">
    <h1>Locação Ariquemes</h1>
  </main>

  <a href="{% url 'clientes_cadastro' %}"><button>Clientes</button></a>

  <a href="{% url 'contratos_cadastro' %}"><button>Cadastro</button></a>

  <a href="{% url 'tipos_veiculos_cadastro' %}"><button>Tipos de Veiculos</button></a>

  <a href="{% url 'veiculos_cadastro' %}"><button>Veiculos</button></a>
  <br><br>

</body>
</html>
